.aprentação {
    text-align: center;
    background-color: var(--cor-de-fundo);
    padding: 96px 324px;
}

.aprentação__subtitulo {
    font-weight: 600;
    color: var(--cor-botao);
}

.aprentação__titulo {
    font-size: 3em;
    font-weight: 600;
    color: var(--texto-terciaria);
    margin: 24px 0;
}

.aprentação__texto {
    font-size: 1rem;
    font-weight: 400;
    color: var(--texto-secundario);
}

