.rodape {
    background-color: var(--cor-rodape);
    text-align: center;
    padding: 6em 0 6em 0;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--texto-terciaria);
}

.rodape__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--texto-secundario);
    margin: 20px 0 40px 0; 
}

.rodape__form {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.051);
}

.rodape__botão {
    background: var(--cor-botao);
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
    color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px;
}

.rodape__form::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--texto-secundario);
    padding-left: 16px;
}

.rodape__texto2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--texto-gray);
    margin-top: 32px;
}